body {
    margin: auto;
    width: 1024px;
}
.container {
    display: flex;
    border-bottom: 1px solid gray;
    justify-content: center;
    align-content: center;
}
ol {
    border: 1px solid gray;
}